.conteiner{
    width: 400px;
    height: 200px;
    background-color: #40ACAE;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 12px;
}

span{
    width: 300px;
    text-align: justify;
}